    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .top-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    
    .chat {
      text-align: center;
    }
    
    .search {
      margin-top: 20px;
    }
    
    .friend-profiles {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }
    
    .chat-history {
      margin-top: 10px;
    }
    
    .friend-profile {
      display: flex;
      align-items: center;
    }
  